#hamburgue-menu {
    position: fixed;
}

.input_search {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    margin: 0 10px;
}

.separador-login-register {
    border-top: 1px solid #a3a1a1;
}

.titulo-menu {
    font-size: 5rem;
    font-weight: bold;
    margin: 10px 0;
}

.texto-menu {
    font-size: 16px;
    margin: 10px 0;
}

.contenedor-menu {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    justify-content: space-around;
}