/* Calculo el height sacando lo que me resta el navbar para alinear los contenidos */

.contenedor-rest-details {
  display: flex;
  width: 100%;
  height: calc(100vh - 170px);
}

/* Sección del lado izquierdo en el que se encuentra la info del restaurante, imagen, nombre, dirección y puntaje */
.rest-menu-izquierda {
    width: 30%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-right: #D0D0D0 1px solid;
}

.rest-menu-izquierda-datos {
    width: 100%;
    display: flex;
}



.rest-izq-datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.rest-izquierda-nombre {
    font-size: 40px;
    font-weight: bold;
}

.rest-izquierda-direccion {
    font-size: 18px;
    font-weight: semi-bold;
    color: #595959;
}

.rest-izquierda-horario {
    font-size: 18px;
    font-weight: semi-bold;
    color: #595959;
}

.rest-izquierda-puntaje {
    font-size: 18px;
    font-weight: semi-bold;
    color: #595959;
    padding: 0px 20px;; 
}

/* Sección del lado derecho con todas las cards de los platos, dividda por grids. */
.rest-platos-derecha {
    height: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 100px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.rest-derecha-cards {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.rest-derecha-texto {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 50px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rest-derecha-nombre {
    font-size: 30px;
    font-weight: semi-bold;
}

.rest-derecha-card {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    border: #595959 1px solid;
}

.text-card {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.img-card {
    width: 100px;
    height: 100px;
    object-fit: cover;
    width: 30%;
}